<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
 
<div>
  <div>
    <form [formGroup] = "formdata"
         (ngSubmit) = "onClickSubmit(formdata.value)" >

            <input type = "text" class = "form" name = "emailid" placeholder = "emailid" 
            formControlName="emailid">

        <div class="validation-errors">
          
            <ng-container *ngFor="let validation of validation_messages.emailid">
                <div class="error-message" *ngIf="formdata.get('emailid').hasError(validation.type) && (formdata.get('emailid').dirty || formdata.get('emailid').touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
        </div>

       <br/>
       
       <input type = "password" class = "fortextbox" name="passwd" 
          placeholder = "passwd" formControlName = "passwd">

          <div class="validation-errors">
          
              <ng-container *ngFor="let validation of validation_messages.password">
                  <div class="error-message" *ngIf="formdata.get('passwd').hasError(validation.type) && (formdata.get('passwd').dirty || formdata.get('passwd').touched)">
                    {{ validation.message }}
                  </div>
                </ng-container>
          </div>
       <br/><br/>
       
       <input type = "submit"  [disabled] = "!formdata.valid" class = "forsubmit" value = "Log In">
    </form>
 </div>
 <p>
    Email entered is : {{emailid}}

 </p>
</div>
</div>

<div>

  
</div>

<router-outlet></router-outlet>
